prefix aama:	 <http://id.oi.uchicago.edu/aama/2013/>
prefix aamas:	 <http://id.oi.uchicago.edu/aama/2013/schema/>
prefix rdf:	 <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs:	 <http://www.w3.org/2000/01/rdf-schema#>

SELECT DISTINCT ?label ?prop ?lang
WHERE {
GRAPH <http://oi.uchicago.edu/aama/%lang%> {
      ?prop aama:lang <http://id.oi.uchicago.edu/aama/2013/%Lang%> .
      ?prop aama:lang ?lang .
      ?prop rdfs:label ?label .
      ?prop rdfs:subPropertyOf <http://id.oi.uchicago.edu/aama/2013/%lang%/muProperty> .
}}
ORDER BY ASC(?prop)

